{% extends 'base.html.twig' %}

{% block title %}React{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
{# <h1>Symfony</h1> #}
<div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
